body {
    width: 100vw;
    height: 100vh;
    background: url("schoolhome.jpg");
    background-size: cover;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-style: var();
    font-size: xx-large;
}

h2 {
    text-align: center;
    font-size: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
a {
        text-decoration: none;
        color: black;
        border: none;
        background-color: white;
    }
    
    a:hover {
        color: blue;
    }
