/* Mobile-first responsive design */
.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.register-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
}

#toast {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -100%);
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000;
    transition: transform 0.3s ease;
}

#toast.success {
    background-color: #28a745; /* Green */
}

#toast.error {
    background-color: #dc3545; /* Red */
}
.navbar {
    background-color: #fcfafa;
    color: white;
    padding: 10px 0;
    text-align: center;
}