body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    color: #008000;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #008000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: #006400;
}

.error-message {
    color: #ff0000;
    margin-top: 5px;
    font-size: 14px;
}


#toast {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -100%);
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000;
    transition: transform 0.3s ease;
}

#toast.success {
    background-color: #28a745; /* Green */
}

#toast.error {
    background-color: #dc3545; /* Red */
}

